@use "../abstracts" as a;

.cardBody {
  max-width: 372px;
  border: 0.5px solid a.$textMain;
  border-radius: 8px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.15);
  }

  .cardHeader {
    padding: 20px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .projectTitle {
      color: a.$highlight;
      font-weight: 400;
      font-size: 2rem;
      line-height: 50px;
    }

    .link {
      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(1.09);
        border-bottom: 1px solid a.$highlight;
      }
    }
  }

  img {
    width: 100%;
  }

  .skillsUsed {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    .skill {
      color: #ffffff;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 32px;
      opacity: 0.7;
      margin-right: 5px;
    }
  }
}
