@use "../abstracts" as a;

.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  height: 100vh;
  padding: 0 30px;

  .content {
    height: 100%;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;

    .logo {
      margin-top: 65px;
    }

    .links {
      margin-top: 40px;
      list-style: none;

      .navLink {
        position: relative;
        font-weight: 700;
        margin-bottom: 16px;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        .link {
          text-decoration: none;
          color: inherit;

          &:visited {
            color: inherit;
          }
        }

        .number {
          color: a.$highlight;
          margin-right: 8px;
        }

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: linear-gradient(to right, a.$highlight 70%, transparent);
          opacity: 0;
          transition: opacity 150ms ease-in-out;
        }

        &:hover,
        &.active {
          color: a.$highlight;
          // transform: scale(1.07);

          &::after {
            opacity: 1;
          }
        }

        &.no-line {
          color: a.$highlight;
          // color: white;

          &:hover,
          &.active {
            color: white;
            // color: a.$highlight;
            &::after {
              opacity: 0;
            }
          }
        }
      }
    }
    .line {
      background: linear-gradient(0deg, transparent 60%, a.$highlight);
      height: 100%;
      width: 3px;
      margin-left: 7px;
    }
  }
}
