@use "../abstracts" as a;

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 100vh;

  .content {
    height: 100%;
    overflow-y: hidden;
    margin-bottom: 50px;

    .logo {
      margin-top: 65px;
    }
    .links {
      margin-top: 40px;
      list-style: none;

      .link {
        font-weight: 700;
        margin-bottom: 16px;

        .number {
          color: a.$highlight;
          margin-right: 8px;
        }
      }
    }
    .line {
      background-color: a.$highlight;
      height: 100%;
      width: 3px;
    }
  }
}
