.main {
  padding-top: 200px;

  .intro {
    max-width: 500px;
    .title {
      font-weight: 600;
      font-size: 2rem;
      line-height: 50px;
    }
    .hook {
      padding-left: 16px;
    }
  }
}
